@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;275;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.card {
  width: 160px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}

.card-img {
  height: 100px;
}

.card-main {
  flex: 1;
  padding: 14px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  color: rgba(30, 30, 30, 1);
  font-size: 8px;
  font-weight: 275;
}

.title {
  font-size: 13px;
  font-weight: 600;
}

.desc {
  font-size: 8px;
  font-weight: 275;
}

